{% extends 'base.html.twig' %}

{% block title %}Password Forgotten{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <div class="row my-5 py-5">
                <div class="col-4 offset-4">
                    <div class="alert bg-transparent border-light py-3 px-3">
                        <div class="col-md-12">
                            <h1 class="text-center">Password Forgotten</h1>
                            <hr>

                            {% for child in form.children %}
                                {% for error in child.vars.errors %}
                                    <div class="bg-danger rounded-2 px-2 py-2 mb-3">
                                        {{ error.message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            {{ form_start(form) }}
                            <div class="form-group">
                                {{form_widget(form)}}
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary my-3">Send reset email</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}