<footer class="container-fluid bg-dark">
    <div class="row pt-5 mt-5">
        <div class="col-md-3 text-center">
            <img src="/assets/img/Logo.jpeg" alt="SkillSpark's logo" class="img-fluid mb-3" width="200" height="100">
        </div>
        <div class="col-md">
            <h5 class="text-uppercase mb-3">Useful Links</h5>
            <ul class="list-unstyled">
                <li><a href="https://upb.ro" class="text-white text-decoration-none">University Politehnica of Bucharest</a></li>
                <br>
                <li>
                    <a href="https://www.mcid.gov.ro/" class="text-white text-decoration-none">Ministry of Research, Innovation and Digitalization</a>
                </li>
            </ul>
        </div>
        <div class="col-md">
            <h5 class="text-uppercase mb-3">Contact Us</h5>
            <p class="text-white"><a href="mailto:office@ici.ro" class="text-white text-decoration-none">✉️
                    contact@skillspark.ro</a></p>
            <p class="text-white"><a href="callto:+40213165262" class="text-white text-decoration-none">☎️ (+40)
                    738 595 092</a></p>
            <a href="https://www.google.com/maps/place/Bulevardul+Mare%C8%99al+Alexandru+Averescu+8-10,+Bucure%C8%99ti/@44.4626474,26.0736007,20.04z/data=!4m6!3m5!1s0x40b202196f18a00f:0x3600def46b7e9c9e!8m2!3d44.4626005!4d26.0737198!16s%2Fg%2F11b8v7kbtl?entry=ttu"
               class="text-white text-decoration-none">📍 Strada Dragos Voda 82,
                Sector 2, 020748, Bucharest, Romania</a>
        </div>
    </div>
    <div class="row">
        <div class="col text-center py-3">
            <p class="m-0 text-muted">&copy; 2024 SkillSpark. All Rights Reserved.</p>
        </div>
    </div>
</footer>