{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

    <div class="container-fluid mb-5 pb-5">

        <h1 class="display-4 text-center my-5">Our Team</h1>
        <p class="text-center lead">We're the passionate minds behind SkillSpark! Our team is a mix of experienced educators, industry experts, and learning enthusiasts. <br>
            We combine our knowledge of effective teaching methods with the latest skill trends to craft engaging and effective learning experiences. <br>
            We're all on a mission to empower you to unlock your potential and achieve your goals!</p>

        <div class="row d-flex justify-content-center">
            <div class="col-auto mt-5">

                <div class="card profile-card">
                    <img src="https://i.pravatar.cc?img=56" alt="Jérémy DURRIEU - CEO" class="card-img-top">
                    <h1 class="card-title">Jérémy DURRIEU</h1>
                    <h3 class="card-subtitle">CEO</h3>
                </div>
            </div>

            <div class="col-auto mt-5">
                <div class="card profile-card">
                    <img src="https://i.pravatar.cc?img=18" alt="John Smith - COO" class="card-img-top">
                    <h1 class="card-title">John Smith</h1>
                    <h3 class="card-subtitle">COO</h3>
                </div>
            </div>

            <div class="col-auto mt-5">
                <div class="card profile-card">
                    <img src="https://i.pravatar.cc?img=28" alt="Jane Doe - CFO" class="card-img-top">
                    <h1 class="card-title">Jane Doe</h1>
                    <h3 class="card-subtitle">CFO</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="diagonal"></div>

    <div class="container-fluid mb-5 pb-5">

        <h1 class="text-center display-4 my-5">Our Mission</h1>
        <p class="text-center lead">In today's ever-changing world, we at SkillSpark are on a mission to bridge the gap between ambition and opportunity. <br>
            We believe everyone deserves access to high-quality skill development, regardless of background or experience. <br>
            Through our engaging and accessible platform, we empower individuals to transform their passions into real-world skills, opening doors to new careers, personal growth, and a brighter future.</p>
    </div>


{% endblock %}