{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-5 text-center">
                <h1>SkillSpark</h1>
                <h5>Unlock your potential, learn on the go.</h5>
            </div>
        </div>
    </div>

{% endblock %}
